<div class="brand">
    <span class="helper"></span>
    <a ng-href="/">
    <img src="/img/logo.png" class="logo">
    </a>
</div>
<a ng-href="/all-profiles" class="text-center navItem">
    <h1><i class="fa fa-users"></i></h1>
    <sup>
        All Profiles
    </sup>
</a>
<a ng-href="/subscribed-profiles" class="text-center navItem">
    <h1><i class="fa fa-user"></i></h1>
    <sup>
        Subscribed Profiles
    </sup>
</a>
<a ng-href="/public-profiles" class="text-center navItem">
    <h1><i class="fa fa-user"></i></h1>
    <sup>
        Public Profiles
    </sup>
</a>