<div class="row">
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Burson-Dashboard</a>
        </div>

        <div class="collapse navbar-collapse js-navbar-collapse">


            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a role="button" aria-expanded="false" ng-href="/new-profile">
                        <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;New Profile</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span
                            class="glyphicon glyphicon-wrench"></span>&nbsp;System<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="/django-admin">Django Admin</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">My
                        Account <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="/user-profile">Profile</a></li>
                        <li class="divider"></li>
                        <li><a ng-href="/login">Log Out</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </nav>
</div>