.system_container {
  @import "../../../js/lib/bootstrap/less/bootstrap";
  @import "../../../js/lib/bootstrap-material-design/less/bootstrap-material-design";
  @icon-font-path: "/js/lib/bootstrap/fonts/";
  @import '../../../css/shared';

  .alert{
    margin-bottom: 0px;
    border-radius: 0px;
  }
  .glyphicon-remove-circle{
    &:hover{
      cursor: pointer;
      color: #0e0e0e;
    }
  }
}